@tailwind base;
@tailwind components;
@tailwind utilities;

.manu{
  display: none;
}
.menu-link {
  grid-column: 3/4;
}
@media(max-width:800px){

/* .nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
}     */
.menu-link{
  display: none;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
}
.manu{
  display: block;
}
.mobile-menu-link {
  grid-column: 2/4;
  position: relative;
  z-index: 99;
}
.mobile-menu-link {
/* background-color: white; */
height: 7rem;
display: grid;
grid-column: 2/5;
align-items: center;
padding-left: 3rem;
transition: all 2s linear;
transform-origin: top;
box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}
}
